<h1>Calendar</h1>
<p>Logged in as <%= current_user&.name || 'Guest' %></p>
<% unless current_user %>
  <a href="/register">Register</a>
<% end %>
<p>
  <a href="/calendar?week=<%= @prev_week %>">&laquo; Previous</a>
  |
  <a href="/calendar?week=<%= @next_week %>">Next &raquo;</a>
</p>
<table id="calendar" border="1" cellpadding="4">
  <thead>
    <tr>
      <th>Time</th>
      <% 0.upto(6) do |d| %>
        <th><%= (@start_week + d).strftime('%a %d') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% start_time = (@start_week.to_time + 8*60*60) %>
    <% 20.times do |i| %>
      <% time = start_time + i*30*60 %>
      <tr>
        <td><%= time.strftime('%H:%M') %></td>
        <% 0.upto(6) do |d| %>
          <% slot_time = time + d.days %>
          <% slot = @slot_hash[slot_time] %>
          <td data-slot-id="<%= slot&.id %>">
            <% if slot %>
              <span class="count"><%= slot.users.count %></span>
              <% if current_user %>
                <form action="/slots/<%= slot.id %>/toggle" method="post" style="display:inline;">
                  <button type="submit"<%= ' class="selected"' if slot.users.include?(current_user) %>>Toggle</button>
                </form>
              <% end %>
              <span class="users"><%= slot.users.map(&:name).join(', ') %></span>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
var WEEK = '<%= @start_week %>';
</script>
<script src="/js/app.js"></script>
